/*
* @Author: liyue
* @Date:   2017-11-06 21:09:10
* @Last Modified by:   EWL
* @Last Modified time: 2017-11-07 09:52:42
*/
body{
    background: url('../../image/missevan_header.png');
    color: #fff;
    font-size: 22px;
}